{% extends "base.html" %}
{% block title %}
    Déconnexion
{% endblock title %}
{% block content %}
    <h1>Déconnexion</h1>
    <p>Êtes-vous sûr·e de vouloir vous déconnecter ?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
        {% endif %}
        <input class="ui button"
               type="button"
               value="Annuler"
               onclick="window.history.go(-1);" />
        <button class="ui button negative"type="submit">Se déconnecter</button>
    </form>
{% endblock %}
