__pycache__
.coverage
.env
.vscode
.pytest_cache
media/avatars
media/posts
env
database.sqlite3

mi.sh

linkcs.py
selenium_test.py

# Prettier config
.prettierrc

# Node modules
node_modules
package-lock.json

# VS Code config
.vscode/