{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock extrahead %}
{% block title %}
    Profil
{% endblock title %}
{% block content %}
    {% include "messages.html" with messages=messages %}
    <!-- Modal End -->
    <div class='d-flex flex-md-row flex-column'>
        <div class="p-2 d-flex flex-column flex-sm-row flex-md-column"
             style='flex:1'>
            <div class="p-3 d-flex justify-content-center">
                <img class='rounded image'
                     id="main-avatar-profile"
                     src='{{ profile.avatar.url }}'>
            </div>
            <div class="p-3 flex-fill">
                <h1>{% include 'posts/identity.html' with profile=profile request=request without_avatar=True %}</h1>
                {% if request.user.is_staff %}
                    {% if profile.category == "etudiant" %}
                        <a href="https://linkcs.fr/user/{{ profile }}" target="_blank">LinkCS</a>
                    {% endif %}
                    <br>
                    <br>
                    {% if profile.is_banned %}
                        Cet utilisateur/ice a été banni/e.
                        <a class="btn btn-success"
                           href="{% url 'profiles:toggle-ban-view' profile_id=profile.id %}">Lever le bannissement</a>
                    {% else %}
                        <a class="btn btn-danger"
                           href="{% url 'profiles:toggle-ban-view' profile_id=profile.id %}">Bannir</a>
                    {% endif %}
                {% endif %}
                <div class='ui vertical fluid menu'>
                    <div class='item'>
                        Publications postées
                        <span class="badge bg-secondary">{{ profile.posts.only_posts.all.count }}</span>
                    </div>
                    <div class='item'>
                        Commentaires postés
                        <span class="badge bg-secondary">{{ profile.posts.all.count|subtract:profile.posts.only_posts.all.count }}</span>
                    </div>
                    <div class='item'>
                        Favoris
                        <span class="badge bg-secondary">{{ profile.get_nb_favorite_posts }}</span>
                    </div>
                    <!--
                    <div class='item'>
                        Likes Received
                        <div class='ui label'>{{ profile.get_likes_received_count }}</div>
                    </div>
                    <div class='item'>
                        Friends
                        <div class='ui label'>{{ profile.friends.all.count }}</div>
                    </div>
                    <div class='item'>
                        Followers
                        <div class='ui label'>{{ profile.followers.all.count }}</div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="p-2" style='flex:3;'>
            {% if profile.posts.only_posts %}
                {% for post in profile.posts.only_posts %}
                    {% include 'posts/post_preview_long.html' with post=post is_staff=is_staff request=request %}
                {% endfor %}
                {% include "posts/modal_share.html" %}
            {% else %}
                <h1>Vous n'avez encore rien posté.</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'posts/js/like.js' %}"></script>
    <script src="{% static 'posts/js/report.js' %}"></script>
{% endblock scripts %}
