{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
    Show Profile
{% endblock title %}
{% block content %}
    {% include "messages.html" with messages=messages %}
    <!-- Modal End -->
    <div class='ui grid'>
        <br>
        <div class='row'>
            <div class='four wide column'>
                <img class='ui medium rounded image' src='{{ profile.avatar.url }}'>
                <h1>{% include 'posts/identity.html' with profile=profile request=request %}</h1>
                {% if request.user.is_staff %}
                    {% if profile.category == "etudiant" %}
                        <a href="https://linkcs.fr/user/{{ profile }}" target="_blank">LinkCS</a>
                    {% endif %}
                    <br>
                    <br>
                    {% if profile.is_banned %}
                        This user is banned.
                        <a class="btn btn-success"
                           href="{% url 'profiles:toggle-ban-view' profile_id=profile.id %}">Unban</a>
                    {% else %}
                        <a class="btn btn-danger"
                           href="{% url 'profiles:toggle-ban-view' profile_id=profile.id %}">Ban</a>
                    {% endif %}
                {% endif %}
                <div class='ui vertical fluid menu'>
                    <div class='item'>
                        Posts
                        <div class='ui label'>{{ profile.posts.all.count }}</div>
                    </div>
                    <div class='item'>
                        Likes Given
                        <div class='ui label'>{{ profile.get_votes_given_count }}</div>
                    </div>
                    <!--
                    <div class='item'>
                        Likes Received
                        <div class='ui label'>{{ profile.get_likes_received_count }}</div>
                    </div>
                    <div class='item'>
                        Friends
                        <div class='ui label'>{{ profile.friends.all.count }}</div>
                    </div>
                    <div class='item'>
                        Followers
                        <div class='ui label'>{{ profile.followers.all.count }}</div>
                    </div>
                    -->
                </div>
            </div>
            <div class='twelve wide column'>
                {% if profile.posts.only_posts %}
                    {% for post in profile.posts.only_posts %}
                        {% include 'posts/post.html' with post=post is_staff=is_staff request=request %}
                    {% endfor %}
                {% else %}
                    <h1>You haven't made any posts yet.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
