{% extends 'base.html' %}
{% load static %}
{% block title %}
    Charte
{% endblock title %}
{% block content %}

    <h2>Charte utilisateur</h2>

    <ol>
        <li><strong>Anonymat et Confidentialité :</strong> <br>
            Les utilisateurs sont encouragés à participer de manière anonyme pour favoriser un débat ouvert et sans jugement. Cependant, en cas de propos inacceptables ou contraires à cette charte, les administrateurs étudiants pourraient accéder à l'identité réelle des utilisateurs responsables.<br><br></li>

        <li><strong>Propos inacceptables :</strong><br>
            Tout contenu discriminatoire, diffamatoire, haineux, menaçant, obscène, irrespectueux ou illégal est strictement interdit. Les utilisateurs sont invités à respecter les opinions et points de vue différents.<br><br></li>

        <li><strong>Opinions et Respect :</strong><br>
            Exprimez-vous librement, mais de manière respectueuse envers les autres utilisateurs. L'échange d'idées et le débat constructif sont encouragés, à condition qu'ils respectent les normes de respect mutuel.<br><br></li>

        <li><strong>Responsabilité :</strong><br>
            Chaque utilisateur est responsable du contenu qu'il publie. Assurez-vous que vos contributions respectent les règles énoncées dans cette charte et contribuent positivement à la communauté.<br><br></li>

        <li><strong>Modération :</strong><br>
            Les administrateurs se réservent le droit de supprimer tout contenu allant à l'encontre de cette charte, voire de bannir l’utilisateur en cas de propos contraires à la charte.<br><br></li>
    </ol>

    <p>En utilisant ce site, vous acceptez et vous engagez à respecter cette charte utilisateur. Nous nous réservons le droit de mettre à jour ces règles si nécessaire pour assurer une communauté en ligne saine et respectueuse.</p>



{% endblock content %}