{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="welcome">
        <h1>Bienvenue</h1>
    </div>
    <br>
    <div class='content'>
        <h3>Cette plateforme a pour vocation de faire émarger les bonnes idées des étudiants, 
            puis de mettre en avant les plus pertinentes </h3>
    </div>
    <br>
    <div class="content">
        <h4>Sur la plateforme, on compte déjà :
            <ul>
                <li>{{nombre_utilisateur}} utilisateurs.</li>
                <li>{{nombre_post}} posts</li>
                <li>{{nombre_like}} likes</li>
            </ul>

            <img width="200px" src={% static "img/centralesupelec.jpeg" %} alt="CentraleSupélec">

        </h4>

    </div>

{% endblock content %}
