{% extends 'base.html' %}
{% load static %}
{% block title %}
    Accueil
{% endblock title %}
{% block content %}

    <img width="200px" src={% static "img/banniere.png" %} alt="Convention étudiante">

    <br>
    <div class="content">
        <h3>Sur la plateforme, on compte déjà :
            <ul>
                <li>{{nombre_utilisateur}} utilisateurs.</li>
                <li>{{nombre_post}} posts</li>
                <li>{{nombre_like}} likes</li>
            </ul>

            <img width="200px" src={% static "img/centralesupelec.png" %} alt="CentraleSupélec">

        </h3>

    </div>

{% endblock content %}
