{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<div class="container-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{% static 'img/batiments.jpeg' %}');
                                       background-size: cover;
                                       background-position: center;
                                       height: 100vh;
                                       border-radius : 50px;">

        <div class="text-center">
        <h2 style="font-weight: lighter; color: white; font-size: 3em">Ensemble faisons bouger le campus !</h2>
                    
        
        <br>
            <!--
            <ul>
                <li>{{nombre_utilisateur}} utilisateurs.</li>
                <li>{{nombre_post}} idées</li>
            </ul>
            -->

            <a class="nav-link ui item" href="{% url 'registration' %}">
                <button class="btn btn-success m-3 row">
                    <img style="width:30px" class="mr-3" src="{% static "img/viarezo.png" %}">
                    Connexion avec Viarézo
                </button>
            </a>
            
            <img style= "border-radius : 5px;" width="200px" src={% static "img/centralesupelec.jpeg" %} alt="CentraleSupélec">

            <div style="margin-top: 100px;">
                <p style="color :  white; font-size: 2em;">Bonjour à toutes et à tous, et bienvenue sur la toute nouvelle plateforme de discussion du campus !<br><br><br>

                    Ici, vous êtes invités à proposer des sujets qui concernent le campus via des posts, à commenter les posts des autres utilisateurs, à les liker, à faire remonter les idées qui permettront d’améliorer notre vie sur le campus. 
                </p>
            </div>
                    
            
    </div>
</div>
{% endblock content %}

<style>
    /* Ajoutez ce style pour les bords ronds */
    .rounded-image {
        border-radius: 15px; /* Ajustez la valeur selon vos préférences */
    }
</style>
