{% load static %}
{% url 'home-view' as path_to_home %}
{% url 'account_login' as login %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'posts:favorite-post-view' as path_to_favorite_post %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'profiles:received-invites-view' as path_to_received_invites %}
{% url 'profiles:my-friends-view' as path_to_my_friends %}
{% url 'profiles:sent-invites-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}
{% url 'profiles:messenger-list-view' as path_to_messenger %}
<nav class="navbar ui inverted menu navbar-expand-sm">
        <a href="{{ path_to_home }}"
           class="{% if request.path == path_to_home %}active{% endif %} item">
            <h3>CampuSphère</h3>
        </a>

        <button class="navbar-toggler" style="color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bars white icon"></i>
        </button>
        <!--
        {% if request.user.is_authenticated %}
            <a href="{% url 'posts:main-post-view' %}"
               class="{% if request.path == path_to_posts %}active{% endif %} item">Accueil</a>

        {% endif %}
        -->

        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav text-center mr-auto">

        {% if request.user.is_authenticated %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:my-profile-view' %}">Mon profil</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-muted" href="mailto:guillaume.machabert@student-cs.fr">Vos retours</a>
        </li>
        
        <!--
            <a href="{{ path_to_messenger }}"
               class="{% if request.path == path_to_messenger %}active{% endif %} item">Messenger</a>
        -->

                <!--
                <div class="item">
                    <div class="ui floating dropdown icon button teal">
                        Friends
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="{{ path_to_all_profiles }}"
                               class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                                All Profiles
                            </a>
                            <a href="{{ path_to_my_friends }}"
                               class="{% if request.path == path_to_my_friends %}active{% endif %} item">
                                My Friends
                            </a>
                            <a href="{{ path_to_received_invites }}"
                               class="{% if request.path == path_to_received_invites %}active{% endif %} item">
                                Invites &nbsp;
                                <div class="ui purple horizontal label">{{ invitations_received_count }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                -->
                <!-- Search 
                <div class="item">
                    <form action="{% url 'profiles:search-profiles-view' %}" method="GET">
                        <div class="ui action left icon input">
                            <input class="prompt"
                                   type="search"
                                   name='q'
                                   placeholder="Search for profiles">
                            <i class="search icon"></i>
                            <button type='submit' class="ui button">Search</button>
                        </div>
                    </form>
                </div>
                -->
                <!-- Search end 
                <a href="{{ path_to_my_profile }}"
                   class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                    <img src={{ profile_pic.url }} class='ui avatar image'>&nbsp;
                    {{ request.user }}
                </a>
                -->                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="/auth/signup/" class="nav-link">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a href="{{ login }}" class="nav-link">Se connecter</a>
                </li>

                <li class="nav-item">
                    <img style="width:30px" class="mr-3" src="{% static "img/viarezo.png" %}">
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration' %}"><!--<img style="width:30px" class="mr-3" src="{% static "img/viarezo.png" %}"> -->  Connexion avec Viarézo</a>
                </li>

            {% endif %}

</ul>
</div>
</nav>
