{% autoescape off %}
    Hello ! <br><br>

    Nous avons bien reçu ton retour sur CampuSphère, merci ! <br><br>

    Grâce à toi, nous pouvons améliorer nos services de jour en jour. <br><br>

    Si tu es intéressé par le fonctionnement de la plateforme, <b>n'hésite pas à nous contacter en réponse à ce mail !</b> <br><br>

    Nous cherchons en particulier :  <br><br>
    - Des personnes chargées de la modération des propositions. <br>
    - Des personnes pour nous aider à améliorer l'interface de la plateforme. 
    C'est l'occasion pour toi de te former au développement web si cela t'intéresse ! <br><br>

    A bientôt sur CampuSphère ! <br><br>
    
    {% include "posts/email_templates/email_footer.html" %}

{% endautoescape %}
