.custom-post-card-parent{
    flex: 1;
    max-width:330px;
    min-width:300px;
}

.custom-post-card{
    position:relative;
    color:black;
    transition:.12s ease-in-out;
    width:100%;
}

.custom-post-card:hover{
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.6);
    transform:scale(1.03);
}

.custom-post-card .card-img-top{
    height:100px !important;
}

.custom-post-card .card-title{
    margin:0;
    font-size:1.2em;
}

.custom-post-card .card-body{
    padding-top:5px;
}

.custom-post-card hr{
    margin:0;
}

.custom-post-card a{
    color:black;
}

.control-display-button{
    position:absolute;
    top:4px;
    right:4px;
    padding:5px 0px;
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
    border-radius:var(--bs-card-inner-border-radius);
    border:0;
    transition:.12s ease-in-out;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.7);
}

.control-display-button i.icon{
    margin:0;
}

.collapsePostViewControl{
    position:absolute;
    top:0;
    right:0;
    width:100px;
    padding: 5px;
    background:white;
    border-radius:5px;
}