{% if theme_path %}
    <div aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'posts:main-post-view' %}">Propositions</a>
            </li>
            {% for theme in theme_path %}<li class="breadcrumb-item" aria-current="page">{{ theme }}</li>{% endfor %}
        </ol>
    </div>
    <script>
        $(document).ready(function() {
            $('.breadcrumb-item').last().addClass('active');
        });
    </script>
{% endif %}
