<!-- Commentaires -->

<div class="cmt_btn {{ post.id }} ui button" data-bs-toggle='collapse' href='#collapse_comment_{{post.id}}' role='button' aria-expanded='false' aria-controls='collapseExample'>
    <i class="comment icon"></i>
    <p style="display: inline-block;">{{ post.num_comments }}</p>
</div>

<div class="collapse" id="collapse_comment_{{post.id}}">
    <div class="card card-body">

    {% if post.comment_set.all %}
<div class="extra content">
        <div class="comment-box">
            {% for c in post.comment_set.all %}
                <div class="ui segment mb-5">
                    <img class="ui avatar image" src={{ c.profile.avatar.url }}>
                    <span style="color:gray">
                        {% if c.profile == post.author %}
                            <strong>Auteur</strong>
                        {% else %}
                        {% include 'posts/identity.html' with post=post request=request  %}
                        {% endif %}
                        {{ c.created|timesince }} ago
                    </span>
                    <div style="color:black" class='mt-5'>{{ c.content }}</div>
                    <br>
                    {% if c.profile.user == request.user %}
                        <form method="POST" action="{% url 'posts:comment-delete' c.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-cmt-btn">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    </div>
    <form action="" method="POST"class='form{{ post.id }} ui fluid form'>
        {% csrf_token %}
        <input type="hidden" name="post_id" value={{ post.id }}>
        {{ c_form.as_p }}
        <button type="submit"
                name="submit_c_form"
                class="ui primary button mt-5 w-full">Envoyer commentaire</button>
    </form>
</div>