<!-- Commentaires -->
<div class="cmt_btn {{ post.id }} ui button"
     data-bs-toggle='collapse'
     href='#collapse_comment_{{ post.id }}'
     role='button'
     aria-expanded='false'
     aria-controls='collapseExample'>
    <i class="comment icon"></i>
    <p style="display: inline-block;">{{ post.number_comments }}</p>
</div>
<div class="collapse" id="collapse_comment_{{ post.id }}">
    <div class="card card-body">
        <div class="extra content">
            {% include 'posts/comment_form.html' with post=post %}
            <div id="comment-box-{{ post.id }}" class="comment-box">
                <!-- Form to comment a post -->
                <!-- Comments -->
                {% if post.comments %}
                    {% for comment in post.comments %}
                        {% include 'posts/single_comment.html' with comment=comment post=post request=request %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
