<form action="{% url 'posts:comment-view' %}"
      method="POST"
      class='comment-form'
      id='{{ post.id }}'>
  {% csrf_token %}
  <!-- To know the response to which post it is -->
  <input type="hidden" name="post_id" value={{ post.id }}>
  <div class="d-flex">
    <textarea id="textComment{{ post.id }}"
              name="content"
              class="form-control flex-grow-1 me-1"
              placeholder="Nouveau commentaire..."
              rows="1"
              required></textarea>
    <button type="submit"
            name="submit_c_form"
            class="ui primary button align-self-center px-3">
      <i class="icon paper plane d-sm-none mx-0"></i>
      <p class="d-none d-sm-inline-block">Envoyer</p>
    </button>
  </div>
</form>
