{% extends 'base.html' %}
{% block title %}
    Delete Post
{% endblock title %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <h3>Confirmation</h3>
            <p>
                Êtes-vous sûr/sure de vouloir supprimer
                {% if object.in_response_to %}
                    cette proposition
                {% else %}
                    ce commentaire
                {% endif %}
                : "{{ object|safe|linebreaksbr|striptags }}" ?
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="ui button"
                       type="button"
                       value="Annuler"
                       onclick="window.history.go(-1);" />
                <input class="ui button positive" type="submit" value="Supprimer" />
            </form>
        </div>
    </div>
{% endblock content %}
