<div class="card p-2">
    <form method="get" id="filter_form" action="">
        <label for="{{ filter_form.filter_option.id_for_label }}">Filter by:</label>
        {{ filter_form.filter_option }}
        
        <label for="{{ filter_form.themes.id_for_label }}">Themes:</label>
        {{ filter_form.themes }}

    </form>
</div>

<script>
    $(document).ready(function () {
        $('#id_filter_option, #id_themes').change(function () {
            $('#filter_form').submit();
        });
    });
</script>
