<a href="{% if profile.id == request.user.id %}{% url 'profiles:my-profile-view' %}{% else %}{% url 'profiles:show-profile-view' profile.id %}{% endif %}">
    {% if not without_avatar %}<img class="ui avatar image" src={{ profile.avatar.url }}>{% endif %}
    {% if profile.is_staff %}
        {{ profile }}
    {% elif profile.id == request.user.id %}
        {% if not without_avatar %}
            Vous
        {% else %}
            Votre profil
        {% endif %}
    {% else %}
        {{ profile.get_category_display }}
    {% endif %}
</a>
