<form action="{% url 'posts:switch-like-view' %}"
method="POST"
class='like-form'
id='{{ post.id }}'>

    {% csrf_token %}
    <input type="hidden" name="post_id" value={{ post.id }}>
    <button type="submit" style="border: none; background: none; padding: 0;">
        <!-- Cet id est utilisé dans like.js -->
        <i id='like_icon_{{ post.id }}' class="star large
        {% if profile not in post.liked.all %}black{% else %}yellow{% endif %}
        icon"></i>
        <!--
        <p style="display: inline-block;" class="like-count{{ post.id }}">{{ post.liked.all.count }}</p>
        -->
        
    </button>
  
</form>