{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    Propositions
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'messages.html' %}
    {% if display_site_explanations %}
        {% include 'posts/first_connexion.html' %}
    {% endif %}
    <div class="ui grid">
        <div class="column">
            {% include 'posts/main_view_intitle.html' with filter_form=filter_form p_form=p_form %}
            {% comment %}
            {% for post in post_to_show %}
                {% include 'posts/post.html' with post=post is_staff=is_staff request=request %}
            {% endfor %}

            {% if post_to_show %}
                <a class="btn btn-primary" href="{% url 'posts:following-post-view' next_first_post_to_show %}">Following Posts =></a>
            {% else %}
            <div class="ui fluid card text-center">
                <p class="fs-5">
                    Aucune proposition ne correspond à votre recherche.
                </p>
            {% endif %}
            {% endcomment %}
            {% if post_to_show %}
                <div class="ui fluid cards d-flex g-4 flex-wrap justify-content-center my-3">
                    {% for post in post_to_show %}
                        {% include 'posts/post_preview.html' with post=post is_staff=is_staff request=request %}
                    {% endfor %}
                </div>
                {% include "posts/modal_share.html" %}
                <script src="{% static "posts/js/modal_script.js" %}"></script>
                <div>
                    {% include 'posts/pagination.html' with page_index=page_index nb_pages=nb_pages next_page_index=next_page_index previous_page_index=previous_page_index %}
                </div>
            {% else %}
                <div class="ui fluid card text-center">
                    <p class="fs-5">Aucune proposition ne correspond à votre recherche.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'posts/js/like.js' %}"></script>
    <script src="{% static 'posts/js/report.js' %}"></script>
    <script src="{% static 'posts/js/site_explanations.js' %}"></script>
{% endblock scripts %}
