{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    Propositions
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock extrahead %}
{% block content %}
    {% include 'messages.html' %}
    <div class="ui grid">
        <div class="column">
            <!-- Filter Form -->
            {% include 'posts/filter.html' with filter_form=filter_form %}
            {% if not profile.is_banned %}
                {% include 'posts/new_post.html' with p_form=p_form %}
            {% endif %}
            {% comment %}
            {% for post in post_to_show %}
                {% include 'posts/post.html' with post=post is_staff=is_staff request=request %}
            {% endfor %}

            {% if post_to_show %}
                <a class="btn btn-primary" href="{% url 'posts:following-post-view' next_first_post_to_show %}">Following Posts =></a>
            {% else %}
            <div class="ui fluid card text-center">
                <p class="fs-5">
                    Aucune proposition ne correspond à votre recherche.
                </p>
            {% endif %}
            {% endcomment %}
            {% if post_to_show %}
                <div class="ui fluid cards d-flex g-4 flex-wrap justify-content-center my-3">
                    {% for post in post_to_show %}
                        {% include 'posts/post_v2.html' with post=post is_staff=is_staff request=request %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui fluid card text-center">
                    <p class="fs-5">Aucune proposition ne correspond à votre recherche.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'posts/js/comments.js' %}"></script>
    <script src="{% static 'posts/js/like.js' %}"></script>
    <script src="{% static 'posts/js/report.js' %}"></script>
{% endblock scripts %}
