{% load static %}
<div class="modal fade"
     id="shareModal"
     tabindex="-1"
     aria-labelledby="shareModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5 flex-fill text-center" id="shareModalLabel">Partager</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-evenly">
                    <a href=""
                       id="whatsapp_link"
                       target="_blank"
                       data-action="share/whatsapp/share">
                        <img src="{% static 'posts/img/whatsapp.png' %}"
                             alt="Whatsapp"
                             class="img-fluid"
                             width="40px">
                    </a>
                    <a href=""
                       id="telegram_link"
                       target="_blank"
                       data-action="share/telegram/share">
                        <img src="{% static 'posts/img/telegram.png' %}"
                             alt="Telegram"
                             class="img-fluid"
                             width="65px">
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
