{% load custom_filters %}
{% load static %}

<div class="ui fluid card">
    <div class="content">
        <!-- Update and delete -->
        <div class="right floated meta">
            {% include 'posts/post_control.html' with request=request post=post %}
        </div>
        <img class="ui avatar image" src={{ post.author.avatar.url }}>
        <span style="color:gray">
            {% include 'posts/identity.html' with post=post request=request  %}

                {{ post.created|timesince }} ago
        </span>
        {% if post.theme %}
        <span class="badge rounded-pill"
        style="background-color: {{post.theme.color}};">
        {{post.theme}}
        </span>
        {% endif %}
        <h2 class="m-2"><a href="/posts/{{post.id}}/show/" style="color:black;">{{ post.title }}</a></h2>
        </div>

    {% if post.image %}
    <div class="ui fluid image">
        <img src={{ post.image.url }}>
    </div>
    {% endif %}
    
    <div class="content">
        <p>{{ post.content|safe }}</p>
        <br><br>
        {% include 'posts/feedback.html' with post_id=post.id user_post_power=post|user_post_power:user %}
        <br>
        
        <div id="progress_zone_{{post.id}}" style="display:none;">
            {% include 'posts/progress_bar.html' with post=post %}
        </div>
        <br>
        
    </div>
    {% include 'posts/comment.html' with post=post c_form=c_form %}
    
</div>