<div class="ui grid">
    <div class="row">
        {% if request.user == post.author.user or request.user.is_staff %}
        <div class="column">
            <a class="ui bwhite-lg" href="{% url 'posts:post-update' post.pk %}">
                <i class="edit large grey outline icon"></i> <!-- Pen icon -->
            </a>
        </div>
        <div class="column">
            <a class="ui bwhite-lg" href="{% url 'posts:post-delete' post.pk %}">
                <i class="trash large grey alternate outline icon"></i> <!-- Bin icon -->
            </a>
        </div>
        
        {% endif %}

        <div class="column">
            {% include 'posts/report.html' with post=post profile=profile %}
        </div>

        <div class="column">
            {% include 'posts/like.html' with post=post profile=profile %}
        </div>
    </div>
</div>