<div>
    <button class="control-display-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePostViewControl_{{ post.id }}"
            aria-expanded="false"
            aria-controls="collapsePostViewControl_{{ post.id }}">
        <i class="icon ellipsis vertical large"></i>
    </button>
</div>
<div class="collapse collapsePostViewControl"
     id="collapsePostViewControl_{{ post.id }}">
    <ul>
        <li>
            <a href=""><i class="icon large share alternate"></i>Partager</a>
        </li>
        <li>{% include 'posts/report_v2.html' with post=post profile=profile %}</li>
        {% if user == post.author.user or user.is_staff %}
            <li>
                <a href="{% url 'posts:post-update' post.pk %}">
                    <i class="icon large edit"></i>Modifier
                </a>
            </li>
            <li>
                <a href="{% url 'posts:post-delete' post.pk %}">
                    <i class="icon large trash alternate outline"></i>Supprimer
                </a>
            </li>
        {% endif %}
    </ul>
</div>
