{% load custom_filters %}
{% load static %}
<div class="ui fluid m-2 d-flex justify-content-center custom-post-card-parent">
    <div class="card custom-post-card">
        <!-- Gérer les contrôles -->
        {% include 'posts/like_header_post.html' with post=post profile=profile %}
        {% include 'posts/post_control.html' with user=request.user post=post %}
        <!-- Image de la carte -->
        <a href="{% url 'posts:one-post-view' post.id %}">

        <img src="{% if post.theme.image %} {{ post.theme.image.url }} {% else %} {% get_media_prefix %}themes/generic_theme.jpg {% endif %}"
             class="card-img-top"
             href="{% url 'posts:one-post-view' post.id %}"
             alt="theme" />
        
        </a>
        <div class="card-body d-flex flex-column">
            <div class="flex-grow-1">
                <!-- En-tête de la carte -->
                <a href="{% url 'posts:one-post-view' post.id %}">
                    <h5 class="card-title my-0">{{ post.title|safe }}</h5>
                </a>
                <p>
                    <small>
                        {% include 'posts/identity.html' with profile=post.author request=request %}
                        ,
                        <i class="fst-italic">il y a {{ post.created|timesince }}</i>
                    </small>
                </p>
                <!-- Description de la carte -->
                {% if post.content != "" %}
                    <div class="card-text description-preview-post-full {% if post.content|shorten_text:"110,1"|striptags|length < post.content|striptags|length %}collapse multi-collapse-{{ post.id }}{% endif %}"
                         id="multiCollapse{{ post.id }}-full">{{ post.content|safe }}</div>
                    {% if post.content|shorten_text:"55,2"|striptags|length < post.content|striptags|length %}
                        <div class="card-text description-preview-post-short collapse multi-collapse-{{ post.id }}"
                             id="multiCollapse{{ post.id }}-short">{{ post.content|shorten_text:"110,1"|safe }}</div>
                        <button class="fst-italic display-full-description-preview-post"
                                id="display-full-description-preview-post-{{ post.id }}"
                                data-bs-toggle="collapse"
                                data-bs-target=".multi-collapse-{{ post.id }}"
                                aria-expanded="false"
                                aria-controls="multiCollapse{{ post.id }}-short multiCollapse{{ post.id }}-full"
                                style="border:0;
                                       background:none;
                                       font-family:inherit">
                            <small>Afficher plus</small>
                            <i class="icon angle down small"></i>
                        </button>
                    {% endif %}
                {% else %}
                    <p class="card-text fst-italic">Aucune description n'a été rédigée...</p>
                {% endif %}
            </div>
            <!-- Commentaires de la carte -->
            <div class="my-3 py-2"
                 style="background-color:rgb(240, 240, 240);
                        border:1px solid rgb(200, 200, 200);
                        border-width:1px 0px 1px 0px">
                {% include 'posts/short_comment_section.html' with post=post request=request %}
            </div>
            <!-- Boutons pour intéragir avec la carte (favori, réagir, voir le post complet) -->
            <div class="mx-auto d-flex justify-content-center flex-column flex-sm-row justify-content-center"
                 style="width:min(100%,300px)">
                {% include "posts/progress_bar.html" %}
                {% include "posts/feedback.html" with power=post|get_power_from_user:user %}
            </div>
        </div>
    </div>
</div>
