{% load custom_filters %}
{% load static %}

<div class="ui fluid card">
    <div class="content">
        <!-- Update and delete -->
        <div class="right floated meta">
            <div class="ui grid">
                <div class="row">
                    {% if request.user == post.author.user or request.user.is_staff == 1 %}
                    <div class="column">
                        <a class="ui bwhite-lg" href="{% url 'posts:post-update' post.pk %}">
                            <i class="edit large grey outline icon"></i> <!-- Pen icon -->
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui bwhite-lg" href="{% url 'posts:post-delete' post.pk %}">
                            <i class="trash large grey alternate outline icon"></i> <!-- Bin icon -->
                        </a>
                    </div>
                    {% endif %}

                    <div class="column">
                        {% include 'posts/like.html' with post=post profile=profile %}
                    </div>
                </div>
            </div>
        </div>
        <img class="ui avatar image" src={{ post.author.avatar.url }}>
        <span style="color:gray">
            <a style="color:black" href="{{ post.author.get_absolute_url }}">Utilisateur <!-- #{{ post.author.user.id }} --> </a>  {{ post.created|timesince }} ago
        </span>
        <span class="badge rounded-pill text-bg-success">{{post.theme}}</span>
                <h2 class="m-2"><a href="/posts/{{post.id}}/show/" style="color:black;">{{ post.title }}</a></h2>
            </div>

    {% if post.image %}
    <div class="ui fluid image">
        <img src={{ post.image.url }}>
    </div>
    {% endif %}
    
    <div class="content">
        <p>{{ post.content }}</p>

        <br><br>
        {% include 'posts/feedback.html' with post_id=post.id user_post_power=post|user_post_power:user %}
        <br>
        
        <div id="progress_zone_{{post.id}}" style="display:none;">
            {% include 'posts/progress_bar.html' with post=post %}
        </div>
        <br>
        
    </div>
    {% include 'posts/comment.html' with post=post c_form=c_form %}
    
</div>