{% extends 'base.html' %}
{% load static %}
{% block title %}
    Vos retours
{% endblock title %}
{% block content %}
    {% include "messages.html" %}
    Veuillez nous faire part de vos retours sur le site, que ce soit :
    <ul>
        <li>- de potentiels bugs</li>
        <li>- des améliorations du site</li>
        <li>- de nouvelles idées</li>
    </ul>
    <br>
    <form action="{% url 'posts:feedback-view' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">
                <textarea class="form-control"
                          name="feedback"
                          placeholder="Ecrivez vos retours..."
                          rows="7"
                          required></textarea>
            </div>
            <div class="col-1">
                <button type="submit" class="ui primary button">Envoyer</button>
            </div>
        </div>
    </form>
    <br>
    Vous pouvez aussi nous contacter par mail :
    <a class="btn btn-success"
       href="mailto:guillaume.machabert@student-cs.fr">Nous envoyer un mail !</a>
{% endblock content %}
