{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'posts/css/feedback.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/progress_bar.css' %}">
{% endblock extrahead %}

{% block title %}
    Post Detail
{% endblock title %}

{% block content %}
    {% include 'posts/post.html' with post=post request=request c_form=c_form %}
{% endblock content %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'posts/js/comments.js' %}"></script>
    <script src="{% static 'posts/js/like.js' %}"></script>
    <script src="{% static 'posts/js/report.js' %}"></script>
{% endblock scripts %}