{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'posts/css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/progress_bar.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/comments.css' %}">
{% endblock extrahead %}
{% block title %}
    Détail de la proposition
{% endblock title %}
{% block content %}
    {% include 'posts/post_full.html' with post=post request=request %}
    {% include 'posts/comment_section.html' with post=post request=request %}
{% endblock content %}
{% block scripts %}
    <script src="{% static 'posts/js/comments.js' %}"></script>
    <script src="{% static 'posts/js/report.js' %}"></script>
    <script src="{% static 'posts/js/like.js' %}"></script>
    <script src="{% static 'posts/js/feedback.js' %}"></script>
{% endblock scripts %}
