<div class="ui segment my-1">
    <span style="color:gray">
        {% if comment.author == post.author %}
            <img class="ui avatar image" src={{ comment.author.avatar.url }}>
            <strong>Auteur·ice de la proposition</strong>
        {% else %}
            {% include 'posts/identity.html' with request=request %}
        {% endif %}
        ,
        <i class="fst-italic">il y a {{ post.created|timesince }}</i>
    </span>
    <div style="color:black" class='mt-2'>{{ comment.content|linebreaks|safe }}</div>
</div>
