<div class="ui segment my-1 px-0 pb-0 custom-comment"
     id="custom-comment-{{ comment.id }}">
    <!-- En-tête du commentaire -->
    <div class="comment-header">
        {% if comment.author.id == post.author.id %}
            <a href="{% url 'profiles:show-profile-view' comment.author.id %}">
                <img class="ui avatar image" src={{ comment.author.avatar.url }}>
                <strong>Auteur·ice</strong>
            </a>
        {% else %}
            {% include 'posts/identity.html' with request=request profile=comment.author %}
        {% endif %}
        ,
        <i class="fst-italic">il y a {{ comment.created|timesince }}</i>
    </div>
    <!-- Contenu du commentaire -->
    <div class="comment-content ms-0 ms-md-3 ps-3 pt-0 pe-0 pb-1">
        <div class="comment-content-noreply">
            <div class="mb-2">{{ comment.content|linebreaks|safe }}</div>
            <div>
                <button class="btn" type="button">
                    <i class="icon thumbs up outline"></i>
                </button>
                <button class="btn" type="button">
                    <i class="icon thumbs down outline"></i>
                </button>
                <button class="btn btn-reply"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseReply{{ comment.id }}"
                        aria-expanded="true"
                        aria-controls="collapseReply{{ comment.id }}">
                    <i class="icon comment"></i><small class="fw-bold d-none d-md-inline">Répondre</small>
                </button>
                <button class="btn">
                    <i class="icon large share alternate"></i><small class="fw-bold d-none d-md-inline">Partager</small>
                </button>
                <button class="btn">
                    <i class="icon large ellipsis horizontal"></i>
                </button>
            </div>
            <div class="collapse reply-container" id="collapseReply{{ comment.id }}">
                {% include 'posts/comment_form.html' with post=comment %}
            </div>
        </div>
        <!-- Sous-commentaires -->
        <div class="comment-replies">
            {% if comment.comments %}
                {% for subcomment in comment.comments %}
                    {% include 'posts/single_comment.html' with comment=subcomment post=post request=request %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
