{% load static %}
<div class="modal fade"
     aria-labelledby="welcomeModalTitle"
     tabindex="-1"
     id="welcomeModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <img src="{% static 'img/logo.png' %}"
                     class="rounded me-3"
                     style="height:2.5em"
                     alt="Logo de CampuShpère">
                <h5 class="text-white fs-3 my-0" id="welcomeModalTitle">Bienvenue !</h5>
                <button type="button"
                        class="btn-close btn-close-white me-1"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h1>Bienvenue sur CampuSphère !</h1>
                    <div class="accordion" id="accordionWelcomeToast">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOneWelcomeAccordion">
                                <button class="accordion-button fs-5"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOneWelcomeToast"
                                        aria-expanded="true"
                                        aria-controls="collapseOneWelcomeToast">
                                    <i class="icon info circle large"></i>CampuSphère, c'est quoi ?
                                </button>
                            </h2>
                            <div id="collapseOneWelcomeToast"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOneWelcomeAccordion"
                                 data-bs-parent="#accordionWelcomeToast">
                                <div class="accordion-body">
                                    <p>
                                        <strong>CampuSphère</strong> est une plateforme visant à permettre aux étudiants et aux étudiantes de CentraleSupélec de <u>propulser leurs idées et aspirations</u> en leur offrant un espace de partage et de débat.
                                    </p>
                                    <p>
                                        Proposez, réagissez, débatez, partagez, et faites de <strong>CampuSphère</strong> votre espace de liberté et de créativité&nbsp;!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwoWelcomeAccordion">
                                <button class="accordion-button collapsed fs-5"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwoWelcomeAccordion"
                                        aria-expanded="false"
                                        aria-controls="collapseTwoWelcomeAccordion">
                                    <i class="icon user secret large"></i>Anonymat
                                </button>
                            </h2>
                            <div id="collapseTwoWelcomeAccordion"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwoWelcomeAccordion"
                                 data-bs-parent="#accordionWelcomeToast">
                                <div class="accordion-body">
                                    <p>
                                        <strong>CampuSphère</strong> est une plateforme qui se veut <u>ouverte et respectueuse</u> de la liberté d'expression de chacun et chacune.
                                        <br />
                                        Afin de répondre à cet engagement, votre participation à <strong>CampuSphère</strong> est <u>anonyme</u>.
                                    </p>
                                    <p>
                                        Cependant, les propos offensants, discriminatoires ou diffamatoires ne seront pas tolérés et pourront être <u>modérés</u>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThreeWelcomeAccordion">
                                <button class="accordion-button collapsed fs-5"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThreeWelcomeAccordion"
                                        aria-expanded="false"
                                        aria-controls="collapseThreeWelcomeAccordion">
                                    <i class="icon shield alternate large"></i>Politique de la plateforme
                                </button>
                            </h2>
                            <div id="collapseThreeWelcomeAccordion"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThreeWelcomeAccordion"
                                 data-bs-parent="#accordionWelcomeToast">
                                <div class="accordion-body">
                                    <p>
                                        Cette plateforme a été développée <strong>par des étudiants et étudiantes</strong> dans le cadre du pôle projet Transition Ecologique et Solidaire de CentraleSupélec. Elle est hébergée gracieusement par <strong>ViaRézo</strong> et est <u>indépendante de l'administration</u> de l'école.
                                    </p>
                                    <p>
                                        Pour soumettre vos idées d'améliorations ou remarques sur la plateforme, vous pouvez contacter les administrateurs et administratrices via le formulaire de contact. Tous vos retours sont les bienvenus&nbsp;!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-center my-2">
                        Pour plus d'informations, rendez-vous sur la FAQ !
                        <br />
                        <strong class="fs-5">Bonne navigation&nbsp;!</strong>
                    </p>
                </div>
                <div class="modal-footer d-flex flex-column">
                    <div class="d-flex justify-content-center my-1">
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                aria-label="Close">Poursuivre vers le site</button>
                    </div>
                    <div class="d-flex justify-content-center my-1">
                        <form action="{% url 'posts:never-display-explanations' %}"
                              method="POST"
                              class='form-hide-site-explanations'
                              id="form-hide-site-explanations-{{ profile.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="profile_id" value={{ profile.id }}>
                            <button type="submit"
                                    id="btn-dont-show-again-welcome-toast-{{ profile.id }}"
                                    class="btn-dont-show-again-welcome-toast text-decoration-underline"
                                    style="border:0;
                                           background:none">
                                Ne plus afficher ce message lors des prochaines connexions
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var welcomeModal = new bootstrap.Modal(document.getElementById('welcomeModal'))
    welcomeModal.show()
</script>
